{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
<ul class="visible-links">
  {%- for link in site.data.navigation.main -%}
    <li class="masthead__menu-item{% if link.children %} masthead__menu-item--has-children{% endif %}">

      {% if link.children %}
        <button type="button" class="masthead__menu-label">
          {{ link.title }}
        </button>

        <ul class="masthead__dropdown">
          {% for child in link.children %}
            <li class="masthead__dropdown-item">
              <a href="{{ child.url | relative_url }}">{{ child.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <a href="{{ link.url | relative_url }}">
          {{ link.title }}
        </a>
      {% endif %}

    </li>
  {%- endfor -%}
</ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>